/*
*
* @desenvolvido por Anderson Machado
* @version 0.1
*
*/

/* ================================== layout ======================================== */

html,body, .capa { /* configuração de 100% do espaço da pagina */
	height: 100%;
	overflow: auto;
}

body {
	background: /*url('img/fundosite4.png'),*/
				linear-gradient(70deg,#40b0cb,#a1375e);
	background-attachment: fixed;
	font-family: helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

/* -- barra navegação -- */
.img-logo {
	height: 60px;
	width: 100px;
	display: block;
	background: url('img/logo_menu.png') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0,0,0, 0.6);
	border: none;

}

.navbar-brand {
	padding: 5px 15px;
}

.divisor {
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

/* criando link no formato bootstrap */
.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}

/* criando link no formato bootstrap */
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

/* Imagem de capa */
.capa {
	display: table;
	width: 100%
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* Configuração de botões */

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.6s, color 0.6s;
}

.btn-gescon {
	background: #a1375e;
}

.btn-gescon:hover {
	background: #40b0cb;
	color: white;
}

.btn-gescon1 {
	border: 2px solid #40b0cb;
}

.btn-gescon1:hover {
	background-color: white;
	color: black;
}

/* -- secao serviço -- */

#servicos {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns {
	padding: 10px 0px 10px 0px;
}

/* -- secao recursos -- */

#recursos {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.rotacionar {
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE9 */
	-webkit-transform: rotate(30deg); /* chrome, Safari, Opera */
	padding-left: 260px;
	
}

/* -- rodapé -- */

footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

.item-rede-social {
	float: right;
}

/* ================================== tipografia ======================================== */

h1 {
	font-size: 100px;
	font-weight: 300;
	letter-spacing: -10px;
	margin-bottom: 50px;
}

h2 {
	font-size: 40px;
	font-weight: 700px;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 30px;
	font-weight: 700px;
	letter-spacing: -0.04em;
}

#rodape h4 {
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
} 

#servicos h2, #servicos h3 {
	color: #a1375e;
}

#recursos h2, #recursos h3 {
	color: #a1375e;
}
